<div class="search-container">
  <input id="search" type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()"
    placeholder="Search by brand or model" class="search-input" />
</div>

<div class="items-list-wrapper">
  @if (cars.length > 0) {
  <div class="items-list">
    @for (car of cars; track car) {
    <app-item-card [car]="car" />
    }
  </div>
  } @else {
  <div class="no-results-wrapper">
    <p class="no-results">No cars found matching your search.</p>
  </div>
  }
</div>