<div class="item-card">
  <div class="item-image">
    <img
      src="https://www.bentleymotors.com/content/dam/bm/websites/bmcom/bentleymotors-com/homepage/26my-azure/GT%20Azure%20Dynamic%20Desktop.jpg/_jcr_content/renditions/original.image_file.1286.643.file/GT%20Azure%20Dynamic%20Desktop.jpg"
      alt="Car image" />
  </div>
  <div class="item-details">
    <h2>Car Brand Model</h2>
    <p><strong>Year:</strong> 2025</p>
    <p><strong>Color:</strong> Blue</p>
    <p><strong>Price:</strong> $10000</p>
  </div>
</div>